
.job-card{
  padding-bottom: 8px;
}


.home-button{
  margin-bottom: 12px;
  border: none;
  background: #ddd;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  width: 100px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease, transform 0.2s ease;

  img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }

  &:hover {
    background-color: #a0b0b1;
  }
}

