/* You can add global styles to this file, and also import other style files */


* {

  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


